[submodule "imagingbook-common"]
	path = imagingbook-common
	url = https://github.com/imagingbook/imagingbook-common.git
[submodule "imagingbook-plugins-all"]
	path = imagingbook-plugins-all
	url = https://github.com/imagingbook/imagingbook-plugins-all.git

