/imagingbook-common/target/classes
/imagingbook-plugins-all/target/classes
/imagingbook-plugins-de2/target/classes
/imagingbook-plugins-de3/target/classes
/imagingbook-plugins-en1/target/classes
/imagingbook-plugins-en2/target/classes
/imagingbook-plugins-en3/target/classes
